body {
  background: url("http://i.imgur.com/LBexVMs.jpg");
  font-family: 'Roboto', sans-serif;
  font-size: 14px; }

.nav, .topNav, .leftNav {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 0;
  margin: 0; }
  .nav li.item, .topNav li.item, .leftNav li.item {
    list-style-type: none; }
  .nav a, .topNav a, .leftNav a {
    text-decoration: none;
    color: #ffffff;
    padding: 12px 20px; }

.topNav {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  display: flex; }
  .topNav li.item {
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    display: inline-block; }
    .topNav li.item a {
      display: inline-block; }
      .topNav li.item a img {
        max-width: 18px;
        margin: 3px 7px 6px 0;
        vertical-align: middle; }
      .topNav li.item a.logo {
        font-weight: 500; }
        .topNav li.item a.logo .fa {
          margin-right: 6px; }
      .topNav li.item a:hover, .topNav li.item a.active {
        background-color: rgba(0, 0, 0, 0.3); }

.leftNav {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  height: 100%;
  margin-top: 44px;
  width: 300px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0; }
  .leftNav li.item {
    display: block; }
    .leftNav li.item a {
      display: block; }
      .leftNav li.item a:hover, .leftNav li.item a.active {
        background-color: rgba(0, 0, 0, 0.3); }

@media screen and (min-width: 320px) and (max-width: 768px) {
  .leftNav {
    display: none; } }
