body {
	background: url("http://i.imgur.com/LBexVMs.jpg");
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}

$backgroundColor: rgba(0, 0, 0, 0.3);

.navbar {
	background-color: $backgroundColor;
	padding: 0;
	margin: 0;
}

// Mobile
@media screen and (min-width: 320px) and (max-width: 768px) {

	.navbar {
		width: 300px;
		height: 100%;
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;

		li.item {
			display: block;
			list-style-type: none;

			a {
				color: #ffffff;
				display: block;
				padding: 12px 20px;
				text-decoration: none;

				&:hover, &.active {
					background-color: $backgroundColor * 0.6;
				}

			}

		}
	}

}

// Desktop
@media screen and (min-width: 768px) {

	li.item {
		display: inline-block;
		list-style-type: none;

		a {
			color: #ffffff;
			display: inline-block;
			padding: 12px 20px;
			text-decoration: none;

			&:hover, &.active {
				background-color: $backgroundColor * 0.6;
			}

		}

	}

}